.App {
  flex-direction: column;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  background-color: aliceblue;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
}

header a{
  margin-left: 5%;
  color: black;
  text-decoration: none;
}

header a:nth-child(2){
  margin-right: 5%;
  color: black;
  font-size: 17px;
  text-decoration: none;
}

button{
  cursor: pointer;
}

main{
  width: 100%;
  flex-direction: column;
}